@tailwind base;
@tailwind components;
@tailwind utilities;

:not(pre) {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    color: #333333;
}

p {
  line-height: 1.9;
}

p + p {
  margin-top: 5px;
}
